{% extends 'base.html' %}
{% load static %}


{% block content %}
	<div id="section">
		<ul>
			<li>
				<a href="blog.html"><img src="{% static 'website/images/dog2.jpg' %}" alt="Image" width="280" height="200"></a>
				<div>
					<p>
						This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
					</p>
					<a href="blog.html" class="readmore">Read more &gt;&gt;</a>
				</div>
			</li>
			<li>
				<a href="blog.html"><img src="{% static 'website/images/dog2.jpg' %}" alt="Image" width="280" height="200"></a>
				<div>
					<p>
						This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
					</p>
					<a href="blog.html" class="readmore">Read more &gt;&gt;</a>
				</div>
			</li>
			<li>
				<a href="blog.html"><img src="{% static 'website/images/dog2.jpg' %}" alt="Image" width="280" height="200"></a>
				<div>
					<p>
						This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
					</p>
					<a href="blog.html" class="readmore">Read more &gt;&gt;</a>
				</div>
			</li>
		</ul>
	</div>
{% endblock %}
